@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

/*all*/

* {
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    color: #333;
    text-decoration: none;
}

/*all*/

/*header*/

#header {
    width: 980px;
    height: 66px;
    display: flex;
    background-color: rgba(255,255,255,0.0);
    z-index: 9999;
    position: relative;
}

#headerLogo {
    flex: 1;
    padding-top: 15px;
}

#btnArea {
    flex: 2;
    text-align: center;
    padding-top: 15px;
}

#btnArea ul {
    height: 30px;
    margin: 0;
    padding-left: 15px;
}

#btnArea ul#mainBtn>li {
    height: 30px;
    line-height: 30px;
    float: left;
    border-radius: 3px;
}

#btnArea ul#mainBtn>li:first-child {
    width: 80px;
    font-size: 14px;
    background-color: #0182cd;
}

ul#mainBtn>li>a {
    color: #fff;
}

#btnArea ul#mainBtn>li:first-child i.fa-power-off {
    color: #fff;
    font-size: 13px;
    padding-right: 3px;
    margin-bottom: 4px;
}

#btnArea ul#mainBtn>li:nth-child(2) {
    width: 136px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    background-color: #e8e8ea;
}

ul#mainBtn>li:nth-child(2)>a {
    color: #000;
}

#btnArea ul#mainBtn>li:nth-child(2) i.fa-shield-alt {
    padding-right: 3px;
    margin-bottom: 4px;
}

ul#mainBtn ul.subBtn {
    width: 100px;
    height: 35px;
    padding-left: 0;
    border: 1px solid #888;
    border-radius: 5px;
    position: relative;
    top: 1px;
    box-shadow: 2px 2px 2px #ddd;
    display: none;
}

ul#mainBtn ul.subBtn>li {
    width: 50px;
    line-height: 35px;
    float: left;
}

ul#mainBtn ul.subBtn>li:first-child {
    border-right: none;
}

ul#mainBtn ul.login {
    background-color: #fff;
    font-weight: bold;
    font-size: 13px;
    right: 12px;
}

ul#mainBtn ul.login li a {
    color: #0182cd;
}

ul#mainBtn ul.login li:hover {
    background-color: #0182cd;
    border-radius: 5px;
}

ul#mainBtn ul.login li:hover a {
    color: #fff;
}

ul#mainBtn ul.cert  {
    background-color: #fff;
    font-weight: bold;
    font-size: 13px;
    left: 18px;
}

ul#mainBtn ul.cert li:hover {
    background-color: #ddd;
    border-radius: 5px;
}

nav#gnb {
    flex: 5;
    position: relative;
}

nav ul#mainMenu {
    height: 66px;
    padding: 0;
    margin: 0;
}

nav ul#mainMenu>li {
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 60px;
    float: left;
}

nav ul#mainMenu>li>a {
    font-family: 'Gothic A1', sans-serif;
}

nav ul#mainMenu>li:last-child {
    padding-top: 8px;
}

nav ul.subMenu {
    display: none;
    margin: 0;
    padding-left: 0;
    border: 1px solid #000;
    padding: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 3px #888;
    position: absolute;
    top: 60px;
}

nav ul.subMenu>li {
    width: 150px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
}

nav ul.subMenu>li a {
    color: #888;
}

nav ul.subMenu>li:first-child {
    font-size: 18px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #000;
}

nav ul.subMenu>li:first-child a {
    color: #000;
}

ul#mainMenu>li:first-child>ul.subMenu {
    left: -50px;
}

ul#mainMenu>li:nth-child(2)>ul.subMenu {
    left: 10px;
}

ul#mainMenu>li:nth-child(3)>ul.subMenu {
    left: 80px;
}

ul#mainMenu>li:nth-child(4)>ul.subMenu {
    left: 160px;
}

ul#mainMenu>li:nth-child(7)>ul.subMenu {
    width: 200px;
    padding: 20px 5px;
    right: -40px;
}

/*header*/

/*slide*/

#slide {
    position: relative;
    top: -70px;
}

#slideBack p {
    width: 100%;
    height: 535px;
    position: absolute;
}

#slide_01 {
    background-color: #fff9e6;
    z-index: 4;
}

#slide_02 {
    background-color: #e7f7f4;
    z-index: 3;
}

#slide_03 {
    background-color: #fffede;
    z-index: 2;
}

#slide_04 {
    background-color: #fff4f6;
    z-index: 1;
}

#slideShow {
    width: 980px;
    height: 535px;
    overflow: hidden;
}

#slideFrame {
    width: 3920px;
    position: relative;
}

#slideFrame a {
    position: absolute;
}

#one {
    z-index: 8;
}

#two {
    z-index: 7;
}

#three {
    z-index: 6;
}

#four {
    z-index: 5;
}

#slideMove {
    width: 980px;
    text-align: center;
    position: relative;
    top: -80px;
    z-index: 9999;
}

#slideMove ul {
    width: 100px;
    height: 30px;
    display: inline-block;
    padding-left: 0;
    margin: 0 10px;
}

#slideMove ul li {
    float: left;
    cursor: pointer;
}

#slideMove #slideDot li {
    width: 8px;
    height: 8px;
    background-color: #666;
    border-radius: 50px;
    margin: 10px 5px 5px;
}

#slideMove #slideControl li {
    color: #aaa;
    line-height: 30px;
    margin: 0 10px;
}

#slideMove #slideControl li:first-child,#slideControl li:nth-child(2) {
    font-size: 12px;
}

/*slide*/

/*main*/

#contentMenu {
    width: 100%;
    text-align: center;
    position: relative;
    top: -140px;
    z-index: 9999;
}

#contentMenu ul {
    width: 772px;
    height: 76px;
    padding-left: 0;
    margin: 0;
    display: inline-block;
    border-radius: 40px;
    box-shadow: 1px 1px 5px 3px #bbb;
}

#contentMenu ul>li {
    height: 76px;
    line-height: 76px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    float: left;
}

#contentMenu ul>li a {
    color: #fff;
}

#contentMenu ul>li:first-child {
    width: 170px;
    line-height: 21px;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 40px 0 0 40px;
    background-color: #0082cd;
}

#contentMenu ul>li:first-child a {
    margin-top: 10px;
}

#contentMenu ul>li:nth-child(2),
#contentMenu ul>li:nth-child(3),
#contentMenu ul>li:nth-child(4)
{
    width: 144px;
    background-color: #3a8dfd;
}

#contentMenu ul>li:last-child {
    width: 170px;
    border-radius: 0 40px 40px 0;
    background-color: #fff;
}

#contentMenu ul>li:last-child a {
    color: #000;
}

#content_add {
    text-align: center;
    position: relative;
    top: -120px;
}

#content_add p,#content_add p a  {
    margin: 0 15px;
    display: inline-block;
    color: #888;
    font-weight: bold;
    font-size: 15px;
}

#introNews {
    width: 980px;
    height: 197px;
    display: flex;
    font-weight: bold;
    position: relative;
    top: -40px;
}

#introNews ul {
    padding-left: 0;
    margin-top : 35px;
}

#introNews ul li {
    width: 80px;
    height: 78px;
    text-align: center;
    padding-top: 5px;
    background-repeat: no-repeat;
    background-position: 15px top;
}

#introNews ul li span {
    position: relative;
    top: 53px;
    font-size: 15px;
}

#introNews ul li:hover {
    border-radius: 50px;
    background-color: #3a8dfd;
    background-position: 20px 10px;
}

#introNews ul li:hover span {
    color: #fff;
}

#left {
    width: 696px;
}

#left ul li {
    float: left;
    margin: 3px;
}

#left ul li:first-child {
    background-image: url(../images/icon_01.png);
}

#left ul li:first-child:hover {
    background-image: url(../images/icon_01_hover.png);
    background-position: 15px 8px;
}

#left ul li:nth-child(2) {
    background-image: url(../images/icon_02.png);
    background-position: 10px top;
}

#left ul li:nth-child(2):hover {
    background-image: url(../images/icon_02_hover.png);
    background-position: 20px 5px;
}

#left ul li:nth-child(3) {
    background-image: url(../images/icon_03.png);
}

#left ul li:nth-child(3):hover {
    background-image: url(../images/icon_03_hover.png);
}

#left ul li:nth-child(4) {
    background-image: url(../images/icon_04.png);
}

#left ul li:nth-child(4):hover {
    background-image: url(../images/icon_04_hover.png);
    background-position: 15px 10px;
}

#left ul li:nth-child(5) {
    background-image: url(../images/icon_05.png);
}

#left ul li:nth-child(5):hover {
    background-image: url(../images/icon_05_hover.png);
}

#left ul li:nth-child(6) {
    background-image: url(../images/icon_06.png);
    background-position: 10px top;
}

#left ul li:nth-child(6):hover {
    background-image: url(../images/icon_06_hover.png);
    background-position: 22px 5px;
}

#left ul li:nth-child(7) {
    background-image: url(../images/icon_07.png);
}

#left ul li:nth-child(7):hover {
    background-image: url(../images/icon_07_hover.png);
}

#left ul li:nth-child(8) {
    background-image: url(../images/icon_08.png);
    background-position: 10px top;
}

#left ul li:nth-child(8):hover {
    background-image: url(../images/icon_08_hover.png);
    background-position: 18px 5px;
}

#right ul li:first-child {
    background-image: url(../images/icon_09.png);
}

#right ul li:first-child:hover {
    background-image: url(../images/icon_09_hover.png);
}

#right ul li:nth-child(2) {
    background-image: url(../images/icon_10.png);
    background-position: 8px top;
}

#right ul li:nth-child(2):hover {
    background-image: url(../images/icon_10_hover.png);
    background-position: 15px 10px;
}

#right ul li:nth-child(3) {
    background-image: url(../images/icon_11.png);
}

#right ul li:nth-child(3):hover {
    background-image: url(../images/icon_11_hover.png);
}

#right {
    width: 260px;
}

#right ul li {
    float: left;
    width: 84px;
}

#service {
    width: 980px;
    height: 350px;
}

#service ul {
    display: flex;
    padding-left: 0;
    justify-content: space-around;
}

#service h2{
    padding: 10px;
    font-weight: bold;
}

.imgContent {
    height: 300px;
    display: inline-block;
    border: 1px solid #aaa;
    text-align: center;
}

.imgContent h3 {
    font-weight: bold;
    margin: 8px 0;
}

.imgContent span {
    font-size: 14px;
    color: #555;
}

#introInfo {
    width: 100%;
    background-color: #f4f7fa;
    margin: 30px 0 50px 0;
}

#introInfoArea {
    width: 980px;
    height: 180px;
    display: flex;
}

#introInfoArea table a:hover {
    text-decoration: underline;
    color: #3a8dfd;
}

#infoLeft, #infoRight {
    flex: 1;
    position: relative;
    top: -20px;
}

p.title {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 57px;
}

p.title span {
    font-weight: normal;
    font-size: 13px;
    color: #888;
}

p.title span i {
    font-size: 15px;
    margin-left: 3px;
    vertical-align: middle;
}

#infoLeft table {
    width: 380px;
    margin-right: 40px;
}

#infoLeft table tr td,
#infoRight table tr td {
    line-height: 30px;
}

#infoLeft table tr td:first-child,
#infoRight table tr td:first-child {
    font-size: 14px;
}

#infoLeft table tr td:nth-child(2) {
    font-size: 12px;
}

/*main*/

/*footer*/

#footerMenu {
    width: 100%;
    border-top: 3px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f8f8f8;
}

#footerMenuArea {
    width: 980px;
    height: 40px;
    display: flex;
}

#footerLNB {
    flex: 4;
}

#snsIcon {
    flex: 1;
}

#footerMainMenu {
    position: relative;
}

#footerLNB ul#footerMainMenu>li {
    width: 160px;
    line-height: 40px;
    text-align: center; 
    float: left;
    font-size: 12px;
}

#footerLNB ul#footerMainMenu>li i {
    color: #0082cd;
    font-size: 10px;
    margin-left: 5px;
}

ul.footerSubMenu {
    display: none;
    width: 150px;
    padding-left: 0;
    padding: 20px;
    border: 1px solid #000;
    background-color: #fff;
    position: absolute;
    bottom: 10px;
    z-index: 2;
}

ul.footerSubMenu>li {
    width: 150px;
    line-height: 25px;
    font-size: 12px;
    text-align: left;
}

ul.footerSubMenu>li:first-child {
    font-size: 17px;
    padding: 8px 0 5px 0;
    margin-bottom: 10px;
    text-align: left;
    border-bottom: 2px solid #000;
}

ul.telNum {
    width: 250px;
    padding-left: 20px;
}

ul.telNum li {
    width: 240px;
    margin: 0;
}

ul.telNum>li:nth-child(2)>table {
    width: 240px;
    border-collapse: collapse;
}

ul.telNum>li:nth-child(2)>table tr td {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

ul.telNum>li:nth-child(2)>table tr:last-child td {
    border-bottom: none;
}

ul.telNum>li:nth-child(2)>table tr td:first-child button {
    width: 80px;
    height: 30px;
    font-size: 12px;
    background-color: #0083cd;
    border: none;
    color: #fff;
}

ul.telNum>li:nth-child(2)>table tr:nth-child(2) td:first-child button {
    background-color: #eee;
    color: #888;
}

ul.telNum>li:nth-child(2)>table tr td:nth-child(2) {
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
}

#footerMainMenu>li:first-child .footerSubMenu {
    left: 10px;
}

#footerMainMenu>li:nth-child(2) .footerSubMenu {
    left: 210px;
}

#footerMainMenu>li:nth-child(3) .footerSubMenu {
    right: 220px;
}

#footerMainMenu>li:last-child .footerSubMenu {
    right: 50px;
}

#snsIcon{
    height: 40px;
    text-align: center;
}

#snsIcon img {
    margin-top: 10px;
}

#footerInfo {
    width: 980px;
    height: 117px;
    margin-bottom: 40px;
    padding-top: 15px;
    display: flex;
}

#footerLogo {
    width: 90px;
    height: 62px;
    text-align: center;
    padding-top: 10px;
}

#info {
    flex: 2;
    font-size: 12px;
    color: #888;
    line-height: 20px;
}

#info span:last-child {
    font-size: 11px;
    line-height: 30px;
}

#infoImg {
    flex: 0.5;
    margin-top: 25px;
    position: relative;
}

#infoImg span {
    width: 150px;
    display: inline-block;
    padding: 5px;
    text-align: center;
    border: 1px solid #000;
    font-size: 11px;
    background-color: #fff;
    position: absolute;
    bottom: 100px;
    display: none;
}

#infoImg a:first-child span {
    right: 80px;
}

#infoImg a:nth-child(2) span {
    right: 50px;
}

#infoImg a:last-child span {
    right: 10px;
}


/*footer*/
