@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

/*all*/

* {
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    color: #333;
    text-decoration: none;
}

/*all*/

/*header*/

#header {
    width: 980px;
    height: 66px;
    display: flex;
    background-color: rgba(255,255,255,0.0);
    z-index: 3;
    position: relative;
}

#headerLogo {
    flex: 1;
    padding-top: 15px;
}

#btnArea {
    flex: 2;
    text-align: center;
    padding-top: 15px;
}

#btnArea ul {
    height: 30px;
    margin: 0;
    padding-left: 15px;
}

#btnArea ul#mainBtn>li {
    height: 30px;
    line-height: 30px;
    float: left;
    border-radius: 3px;
}

#btnArea ul#mainBtn>li:first-child {
    width: 80px;
    font-size: 14px;
    background-color: #0182cd;
}

ul#mainBtn>li>a {
    color: #fff;
}

#btnArea ul#mainBtn>li:first-child i.fa-power-off {
    color: #fff;
    font-size: 13px;
    padding-right: 3px;
    margin-bottom: 4px;
}

#btnArea ul#mainBtn>li:nth-child(2) {
    width: 136px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    background-color: #e8e8ea;
}

ul#mainBtn>li:nth-child(2)>a {
    color: #000;
}

#btnArea ul#mainBtn>li:nth-child(2) i.fa-shield-alt {
    padding-right: 3px;
    margin-bottom: 4px;
}

ul#mainBtn ul.subBtn {
    width: 100px;
    height: 35px;
    padding-left: 0;
    border: 1px solid #888;
    border-radius: 5px;
    position: relative;
    top: 5px;
    box-shadow: 2px 2px 2px #ddd;
    display: none;
}

ul#mainBtn ul.subBtn>li {
    width: 50px;
    line-height: 35px;
    float: left;
}

ul#mainBtn ul.subBtn>li:first-child{
    border-right: none;
}

ul#mainBtn ul.login {
    background-color: #fff;
    font-weight: bold;
    font-size: 13px;
    right: 12px;
}

ul#mainBtn ul.login li a {
    color: #0182cd;
}

ul#mainBtn ul.login li:hover {
    background-color: #0182cd;
    border-radius: 5px;
}

ul#mainBtn ul.login li:hover a {
    color: #fff;
}

ul#mainBtn ul.cert  {
    background-color: #fff;
    font-weight: bold;
    font-size: 13px;
    left: 18px;
}

ul#mainBtn ul.cert li:hover {
    background-color: #ddd;
    border-radius: 5px;
}

nav#gnb {
    flex: 5;
    position: relative;
}

nav ul#mainMenu {
    height: 66px;
    padding: 0;
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
}

nav ul#mainMenu>li {
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 66px;
    float: left;
}

nav ul#mainMenu>li:last-child {
    padding-top: 8px;
}

nav ul.subMenu {
    display: none;
    margin: 0;
    padding-left: 0;
    border: 1px solid #000;
    padding: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 3px #888;
    position: absolute;
    top: 60px;
}

nav ul.subMenu>li {
    width: 150px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
}

nav ul.subMenu>li a {
    color: #888;
}

nav ul.subMenu>li:first-child {
    font-size: 18px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #000;
}

nav ul.subMenu>li:first-child a {
    color: #000;
}

ul#mainMenu>li:first-child>ul.subMenu {
    left: -50px;
}

ul#mainMenu>li:nth-child(2)>ul.subMenu {
    left: 10px;
}

ul#mainMenu>li:nth-child(3)>ul.subMenu {
    left: 80px;
}

ul#mainMenu>li:nth-child(4)>ul.subMenu {
    left: 160px;
}

ul#mainMenu>li:nth-child(7)>ul.subMenu {
    width: 230px;
    padding: 20px 5px;
    right: -40px;
}

/*header*/

/*slide*/

#slideShow {
    width: 100%;
    height: 535px;
    background-color: #fff9e6;
    position: relative;
    top: -70px;
}

#slideFrame {
    width: 980px;
}

/*slide*/

/*main*/

#contentMenu {
    width: 100%;
    text-align: center;
    position: relative;
    top: -110px;
}

#contentMenu ul {
    height: 76px;
    padding-left: 0;
    margin: 0;
    display: inline-block;
    border-radius: 40px;
    box-shadow: 1px 1px 5px 3px #ccc;
}

#contentMenu ul>li {
    height: 76px;
    line-height: 76px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    float: left;
}

#contentMenu ul>li a {
    color: #fff;
}

#contentMenu ul>li:first-child {
    width: 170px;
    line-height: 21px;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 40px 0 0 40px;
    background-color: #0082cd;
}

#contentMenu ul>li:first-child a {
    margin-top: 10px;
}

#contentMenu ul>li:nth-child(2),
#contentMenu ul>li:nth-child(3),
#contentMenu ul>li:nth-child(4)
{
    width: 144px;
    background-color: #3a8dfd;
}

#contentMenu ul>li:last-child {
    width: 170px;
    border-radius: 0 40px 40px 0;
    background-color: #fff;
}

#contentMenu ul>li:last-child a {
    color: #000;
}

#content_add {
    text-align: center;
    position: relative;
    top: -100px;
}

#content_add p,#content_add p a  {
    margin: 0 15px;
    display: inline-block;
    color: #888;
    font-weight: bold;
    font-size: 15px;
}

#introNews {
    width: 980px;
    height: 197px;
    display: flex;
    font-weight: bold;
    position: relative;
    top: -40px;
}

#introNews ul {
    padding-left: 0;
    margin-top : 35px;
}

#introNews ul li {
    width: 85px;
    height: 85px;
    text-align: center;
    padding-top: 5px;
    background-color: #3a8dfd;
    border-radius: 50px;
}

#introNews ul li p {
    height: 55px;
}

#left {
    width: 696px;
}

#left ul li {
    float: left;
}

#right {
    width: 260px;
}

#right ul li {
    float: left;
    width: 84px;
}

#service {
    width: 980px;
    height: 350px;
}

#service ul {
    display: flex;
    padding-left: 0;
    justify-content: space-around;
}

#service h2{
    padding: 10px;
    font-weight: bold;
}

.imgContent {
    height: 300px;
    display: inline-block;
    border: 1px solid #aaa;
    text-align: center;
}

.imgContent h3 {
    font-weight: bold;
    margin: 8px 0;
}

.imgContent span {
    font-size: 14px;
    color: #555;
}

#introInfo {
    width: 100%;
    background-color: #f4f7fa;
    margin: 30px 0 50px 0;
}

#introInfoArea {
    width: 980px;
    height: 180px;
    display: flex;
}

#introInfoArea table a:hover {
    text-decoration: underline;
    color: #3a8dfd;
}

#infoLeft, #infoRight {
    flex: 1;
    position: relative;
    top: -20px;
}

p.title {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 57px;
}

p.title span {
    font-weight: normal;
    font-size: 13px;
    color: #888;
}

p.title span i {
    font-size: 15px;
    margin-left: 3px;
    vertical-align: middle;
}

#infoLeft table {
    width: 380px;
    margin-right: 40px;
}

#infoLeft table tr td,
#infoRight table tr td {
    line-height: 30px;
}

#infoLeft table tr td:first-child,
#infoRight table tr td:first-child {
    font-size: 14px;
}

#infoLeft table tr td:nth-child(2) {
    font-size: 12px;
}

/*main*/

/*footer*/

#footerMenu {
    width: 100%;
    border-top: 3px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f8f8f8;
}

#footerMenuArea {
    width: 980px;
    height: 40px;
    display: flex;
}

#footerLNB {
    flex: 4;
}

#snsIcon {
    flex: 1;
}

#footerLNB ul#footerMainMenu>li {
    width: 160px;
    line-height: 40px;
    text-align: center; 
    float: left;
    font-size: 12px;
}

#footerLNB ul#footerMainMenu>li i {
    color: #0082cd;
    font-size: 10px;
    margin-left: 5px;
}

ul.footerSubMenu {
    padding-left: 0;
    padding: 10px;
    border: 1px solid #000;
    background-color: #fff;
    position: relative;
    z-index: 5;
}

ul.footerSubMenu>li {
    width: 150px;
    line-height: 25px;
    font-size: 12px;
}

ul.footerSubMenu>li:first-child {
    font-size: 17px;
    padding: 8px 0 5px 0;
    margin-bottom: 10px;
    text-align: left;
    border-bottom: 2px solid #000;
}

ul.telNum {
    z-index: 8;
    width: 250px;
    padding-left: 20px;
}

ul.telNum li {
    width: 240px;
    margin: 0;
}

ul.telNum>li:nth-child(2)>table {
    width: 240px;
    border-collapse: collapse;
}

ul.telNum>li:nth-child(2)>table tr td {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

ul.telNum>li:nth-child(2)>table tr:last-child td {
    border-bottom: none;
}

ul.telNum>li:nth-child(2)>table tr td:first-child button {
    width: 80px;
    height: 30px;
    font-size: 12px;
    background-color: #0083cd;
    border: none;
    color: #fff;
}

ul.telNum>li:nth-child(2)>table tr:nth-child(2) td:first-child button {
    background-color: #eee;
    color: #888;
}

ul.telNum>li:nth-child(2)>table tr td:nth-child(2) {
    text-align: left;
    padding-left: 10px;
}

#snsIcon{
    height: 40px;
    text-align: center;
}

#snsIcon img {
    margin-top: 10px;
}

#footerInfo {
    width: 980px;
    height: 117px;
    margin-bottom: 40px;
    padding-top: 15px;
    display: flex;
}

#footerLogo {
    width: 90px;
    height: 62px;
    text-align: center;
    padding-top: 10px;
}

#info {
    flex: 2;
    font-size: 12px;
    color: #888;
    line-height: 20px;
}

#info span:last-child {
    font-size: 11px;
    line-height: 30px;
}

#infoImg {
    flex: 0.5;
    margin-top: 25px;
}


/*footer*/
